<main>
  <h1 class="bg-secondary text-center text-white w-100 mb-3">REGISTER</h1>
  <section class="d-flex flex-column align-items-center w-100">
    <form class="w-50 mb-3 p-2" style="min-width: 300px; max-width:500px">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
        <label for="email">Email</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" placeholder="Password">
        <label for="password">Password</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="role" placeholder="Role">
        <label for="role">Role</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="photo" placeholder="Photo URL">
        <label for="photo">Photo URL</label>
      </div>
      <button type="button" class="btn btn-primary" id="register">REGISTER</button>
    </form>
  </section>
</main>